/* Let's Start */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* background-color: green; */
}

@font-face {
  font-family: 'Aileron';
  src: url('aileron-kit/Aileron-Regular-webfont.woff') format('woff'),
    url('./aileron-kit/Aileron-Regular-webfont.ttf') format('truetype'),
    url('./aileron-kit/Aileron-Regular-webfont.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./bebas-neue-kit/BebasNeue-Regular.woff') format('woff'),
    url('./bebas-neue-kit/BebasNeue-Regular.ttf') format('truetype'),
    url('./bebas-neue-kit/BebasNeue-Regular.eot') format('embedded-opentype');
}

body {
  --color1: #1a1a1a;
  --color2: white;
  --color3: #3b3b3b;
}

body.light-theme {
  --color1: #fefefe;
  --color2: black;
  --color3: #cfcfcf;
}

.clr-schm-btn {
  transition: transform 600ms;
}

.light-theme .clr-schm-btn {
  transform: rotateZ(360deg);
}

.light-theme .moon {
  opacity: 0;
}

.light-theme .sun {
  opacity: 1;
}

.sun {
  opacity: 0;
}

.my-img {
  filter: brightness(150%);
  transition: filter 200ms;
}

.light-theme .my-img {
  filter: brightness(100%);
}

* {
  box-sizing: border-box;
  transition: color 100ms, fill 200ms, background-color 200ms, stroke 200ms;
}

@media screen and (prefers-color-scheme: light) {
  body {
    --color1: #fefefe;
    --color2: black;
    --color3: #cfcfcf;
  }

  body.dark-theme {
    --color1: #1a1a1a;
    --color2: white;
    --color3: #3b3b3b;
  }

  .dark-theme .clr-schm-btn {
    transform: rotateZ(360deg);
  }

  .sun {
    opacity: 1;
  }

  .dark-theme .sun {
    opacity: 0;
  }

  .dark-theme .moon {
    opacity: 1;
  }

  /* .sun,
  .moon {
    transform: translateY(-50%);
  } */

  .moon {
    opacity: 0;
  }
}

/* |Text */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color1);
  color: var(--color2);
  font-family: 'Aileron';
  font-size: 18px;
}

h1,
h2 {
  font-family: 'Bebas Neue';
  font-size: 84px;
  font-weight: normal;
}

h3 {
  font-family: 'Bebas Neue';
  font-size: 35px;
  font-weight: normal;
}

path,
rect {
  fill: var(--color2);
  transform: fill 200ms;
}



/* |Layout */

/* |Header */

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color1);
  z-index: 10;
}

.header-container {
  width: 960px;
  margin: 0 auto;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.color-scheme-button {
  height: 20px;
  cursor: pointer;
}

.color-scheme-button svg {
  height: 100%;
}

.sun,
.moon {
  transition: transform 200ms, opacity 200ms;
}

.header-logo {
  height: 30px;
}

.header-logo svg {
  height: 100%;
}

.header-logo path {
  fill: var(--color2);
}

.nav-button {
  height: 20px;
  cursor: pointer;
}

.nav-button svg {
  height: 100%;
}

.bar {
  width: 4px;
  height: 4px;
  margin: 4px auto;
  border-radius: 2px;
  background-color: var(--color2);
}

.opened {
  position: relative;
  /* transform: translate(-250px); */
}

.opened .btn-cont {
  position: absolute;
  z-index: 100;
}

/* | Navigation */
nav {
  position: fixed;
  background: linear-gradient(to right, #000000cc, #00000077);
  padding: 40px 50px 50px;
  right: 0;
  top: 0;
  height: 100vh;
  width: calc((100vw - 960px) / 2 + 300px);
  transform: translateX(calc((100vw - 960px) / 2 + 300px));
  transition: transform 300ms;
  z-index: 50;
}

.close-menu-btn {
  height: 20px;
  margin-bottom: 50px;
  width: fit-content;
}

.close-menu-btn svg {
  height: 100%;
  cursor: pointer;
}

.close-menu-btn rect {
  transition: 0, 0;
  transition: transform 200ms;
}

.close-menu-btn:hover rect,
.close-menu-btn:focus rect{
  transform: scaleX(230%);
}

nav.menu-opened {
  transform: translateX(0);
}

.nav-container {
  height: calc(100% - 100px);
  display: flex;
  flex-flow: column nowrap;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: solid 2px grey;
  border-radius: 50%;
  transition: border-color 100ms, background-color 100ms;
}

.on-point.dot {
  background-color: white;
  border-color: white;
}

.dot ~ .nav-item-name {
  color: grey;
  transition: color 100ms, font-size 100ms;
}

.on-point.dot ~ .nav-item-name {
  color: white;
  font-size: 1.3em;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.line {
  width: 3px;
  background-color: grey;
  flex-grow: 2;
  margin-left: 3px;
}

.the-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link-group {
  margin-left: 50px;
}

/* | Intro-Section */
.intro-cont {
  padding-top: 120px;
}
.sec-cont {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  gap: 130px;
}

.ra-logo-anim-cont {
  height: 285px;
}

.ra-logo-anim-cont svg {
  height: 100%;
}

.page-heading {
  width: 330px;
}

.page-heading h1 {
  font-weight: normal;
  line-height: 86px;
  margin: 0;
}

.grey {
  color: gray;
}

.page-heading svg {
  width: 219px;
}

.head-line {
  stroke: var(--color2);
}

/* |Short About */

.short-abt-sec {
  flex-flow: column nowrap;
  gap: 20px;
  padding-top: 120px;
}

.brand-shapes svg {
  height: 70px;
}

.brand-shapes path {
  stroke: var(--color2);
}

.about-paragraph {
  width: 460px;
}

.this-me {
  padding-top: 120px;
}

.ra-p-cont {
  height: 300px;
}

.ra-p-cont svg {
  height: 100%;
}

.ra-logo-cont {
  height: 175px;
}

.ra-logo-cont svg {
  height: 100%;
}

.group-sec {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
.abt {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 140px;
  padding-top: 140px;
}

.frml-about .abt-shape {
  height: 305px;
  order: 1;
}

.pers-about .abt-shape {
  height: 209px;
}

.ecc-about .abt-shape {
  height: 221.4px;
  order: 1;
}

.abt-shape {
  height: 100%;
}

.abt-shape svg {
  height: 100%;
}

.abt-copy {
  width: 380px;
}

.activities {
  width: 940px;
  margin: 0 auto;
  padding: 140px 0;
}

.sec-head {
  text-align: center;
}

.sec-head h2 {
  margin: 0;
}

.acts-cont {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: center;
  margin-top: 70px;
}

.acts {
  width: 300px;
}

.act-head {
  margin-bottom: 40px;
}
.act-head h3 {
  margin: 0;
  text-align: center;
}

.act-item {
  background-color: var(--color3);
  /* padding: 20px; */
  border-radius: 21px;
  margin-bottom: 10px;
  /* height: 70px; */
  /* transition: height 500ms; */
}

.act-name-head {
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.act-name h4 {
  margin: 0;
  font-size: 21px;
}

.act-meta {
  font-size: 14px;
  padding: 0 20px 20px 20px;
}

.act-body {
  padding: 0 20px 20px 20px;
  display: none;
}

.act-exp-btn {
  height: 9px;
}

.act-exp-btn svg {
  height: 100%;
  transition: transform 300ms;
}

.expanded .act-exp-btn svg {
  transform: rotateZ(180deg);
}

.expanded .act-body {
  display: block;
}

.con-links {
  width: 940px;
  margin: 0 auto;
  padding: 30px 0 100px;
}

.connect-header h1 {
  text-align: center;
  margin: 0;
}

.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.link {
  width: 60px;
}

.link svg {
  width: 100%;
  /* animation: link-bulge 2s infinite; */
}

footer > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

footer img {
  width: 100%;
}

.foot-logo-symb {
  width: 40px;
}

.foot-logo-type {
  width: 200px;
}

.year {
  color: var(--color2);
}

.logo-circle {
  transform-origin: 50% 50%;
  animation: rotate 3.5s linear 0s infinite;
  fill: var(--color2);
}
.logo-rectangle {
  transform-origin: 25.5127% 50%;
  animation: rotate 2.5s linear 0s infinite;
  fill: var(--color2);
}
.logo-triangle {
  transform-origin: 50% 50%;
  animation: rotate 1.5s linear 0s infinite;
  fill: var(--color2);
}

.abt-tri-rot {
  transform-origin: 50% 50%;
  animation: rotate 5s linear 1s infinite;
}
.abt-circ-rot {
  transform-origin: 50% 50%;
  animation: rotate 5s linear 0.5s infinite;
}
.abt-rect-rot {
  transform-origin: 50% 50%;
  animation: rotate 5s linear 1.5s infinite;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes link-bulge {
  0% {
    width: 70%;
    animation-timing-function: ease-out;
  }

  50% {
    width: 100%;
    animation-timing-function: ease-in;
  }
  100% {
    width: 70%;
    animation-timing-function: ease-out;
  }
}

.anim-logo {
  width: 100px;
}

[data-section-index] {
  transform: translateY(40px);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}

[data-section-index].section-show {
  transform: translateY(0);
  opacity: 1;
}

.circ1 {
  transition: transform 100ms;
}
.circ2 {
  transition: transform 100ms 100ms;
}
.circ3 {
  transition: transform 100ms 200ms;
}

.nav-button:hover .circ1 {
  transform: translateX(50%);
}
.nav-button:hover .circ2 {
  transform: translateX(25%);
}
.nav-button:hover .circ3 {
  transform: translateX(50%);
}
